div.Inscribe {
    background: linear-gradient(90deg, #5ec1f3, #5ec1f3);
    color: #ffffff;
  }

h1.page-header {
    font-family: "Power Grotesk";
    font-weight: 700;
    line-height: 1.2;
    text-transform: unset;
}

.Inscribe .label {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.Inscribe .react-calendar button, select {
    color: rgb(54 149 247);
}

.input-fee-rate {
    border-color: #4da6d3 !important;
}